# Ignorar diretórios de build do Maven, Gradle, etc.
target/
build/
dist/

# Permitir pastas `target` dentro de `src/main` e `src/test`
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ arquivos
.idea/
*.iml

# Ignorar outros arquivos específicos do IntelliJ (detalhado)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
