<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Biblioteca DIO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Catálogo de Livros JAO</h1>

        <!-- Formulário para adicionar novo livro -->
        <h2 class="mt-5">Adicionar Novo Livro</h2>
        <form action="http://localhost:8080/livros/add" method="post">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <input type="text" class="form-control" id="autor" name="autor" required>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</body>
</html>
